@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
@import url('https://fonts.googleapis.com/css?family=Marmelad');

body,html{
    height: 100%;
    margin:0;
}

p,h1,h2,h3,h4,h5,h6{
    font-family: 'Marmelad', sans-serif!important;
}

.navbar{
    background-color: #111!important;
    border-bottom: #111;
} 
.nav-item{
    margin-left: 4rem;
}

.navbar .nav-item a{
    color: white!important;
    font-size: 1em;
    font-family: 'Marmelad', sans-serif;
    transition: 500ms;
    }

    .navbar .nav-item a:hover{
    color:red;    
    }   


.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.images img{
    height: 500px;
    width: 400px;
    margin: 10px;
}

footer{
    padding: 10px;
    background-color: black;
}

.center{
    text-align:center;
}

.firstP{
    background-image: url('../images/roll2.jpg');
    min-height: 400px;
}

.secondP{
    background-image: url('../images/rammen.jpg');
    min-height: 400px;
}

.thirthP{
    background-image: url('../images/papas.jpg');
    min-height: 400px;
}

.firstP, .secondP, .thirthP{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.70;
    position: relative;
    background-attachment: fixed;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    letter-spacing: 8px;
    font-size: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-weight: 30px;
}

.ptext .border{
    background-color: #111;
    color:#fff;
    padding:20px;
    border-color: 0.70px;
}

.circle{
    border-radius: 360px;
    border: 1px solid white;
}

.card{
height: 350px;
width: 300px;
padding: 10px;
margin: 10px;
}

.btn{
    font-family: 'Marmelad', sans-serif!important;
}